<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
<!-- Footer -->
<footer style="
    background-color: #4c4c4c;
    border-radius: 10px;
    color: white;
    border: 8px solid rgba(17, 204, 0, 0.18);
    
" class="page-footer font-small blue-grey lighten-5">

    

    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">

        <!-- Grid row -->
        <div class="row mt-3 dark-grey-text">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

                <!-- Content -->
                <h6 class="text-uppercase font-weight-bold">Tawanda Energy</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p style="text-align:center; font-size: medium;">Tawanda Energy is a .....
                </p>
                <a class="btn btn-success active"  href="/tawanda-energy">Read more!</a>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Pages</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a style="text-decoration:none; font-size: medium;" class="dark-grey-text" href="/">Home</a>
                </p>
                
                <p>
                    <a style="text-decoration:none; font-size: medium;" class="dark-grey-text" href="/services">Services</a>
                </p>
                <p>
                    <a style="text-decoration:none; font-size: medium;" class="dark-grey-text" href="/about-us">About Us</a>
                </p>
                <p>
                    <a style="text-decoration:none; font-size: medium;" class="dark-grey-text" href="/contact-us">Contact Us</a>
                </p>
                
                <p>
                    <a style="text-decoration:none; font-size: medium;" class="dark-grey-text" href="/contact-us">Renewable Energy Investment</a>
                </p>
                


            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <!--Links --> 
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                
                <h6 class="text-uppercase font-weight-bold">Tawanda Energy</h6>
               
                <img src="https://res.cloudinary.com/dyzeuqi75/image/upload/v1638983366/1638983244340_c9oorg.png" width="100px" height="100px" alt="">
                

            </div>
            <!-- Grid column -->

            <!-- Grid column 
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                
                <h6 class="text-uppercase font-weight-bold">Contact</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <i style="font-size:20px; color: #480470;" class="uil uil-building"></i> Johannesburg
                </p>
                <p>
                    <i style="font-size:20px; color: #480470; text-align:justify; " class="uil uil-envelope"></i> mupanesuretwork@gmail.com

                </p>
                <p>
                    <i style="font-size:20px; color: #480470;" class="uil uil-phone"></i> +27 66 321 55 28

                </p>


            </div>-->
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->
    <!-- Copyright -->
    <div class="footer-copyright text-center text-white-50 py-3"><i class="uil uil-brackets-curly"></i> Designed and
        Created by
        <a style="text-decoration:none" class="dark-grey-text" href="https://takudzwam.live/"> Sputnik Tech</a>
    </div>
    <!-- Copyright -->

    <!-- Copyright -->
    <div class="footer-copyright text-center text-white-50 py-3">© Copyright:
        <a style="text-decoration:none" class="dark-grey-text"> Tawanda Energy</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->