.blur{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 5px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
    color: #0f121b;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');


h1,
h2,
h3 {
  color: #32991f;
  font-family: 'Open Sans', sans-serif;
}

h4,
h5,
h6 {
  color: rgb(255, 255, 255);
  font-family: 'Open Sans', sans-serif;
}
p{
  color: white;
}
i {
  color: #c9c921;
}
a{
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
}
