<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet" />

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->




<!-- Contact Us Section -->
<section class="Material-contact-section section-padding section-dark">
    <div class="container">
        <div class="row">
            <!-- Section Titile -->
            <div class="col-md-12 wow animated fadeInLeft" data-wow-delay=".2s">
                <h1 class="display-5 fw-bold" >We'd Love to Hear From You</h1>
            </div>
        </div>
        <div class="row">
            <!-- Section Titile -->
            <div class="col-md-6 mt-3 contact-widget-section2 wow animated fadeInLeft" data-wow-delay=".2s">
                <p>We value your opinions, feel free to message us.
                    If you have questions you'd like to be answered please dont hesitate to contact us.
                </p>


                <div class="find-widget">
                    <i class="fas fa-2x fa-map-marked-alt "></i><a> 107 Masasa Windsor House, Herbert Chitepo Street,
                        Mutare, Zimbabwe
                    </a>
                </div>

                <div class="find-widget">
                    <i class="fas fa-2x fa-phone "></i><a> +263 776 467 190</a>
                </div>

            </div>
            <!-- contact form -->
            <div class="col-md-6 wow animated fadeInRight" data-wow-delay=".2s">

                <br>
                <p>
                    <i style=" margin-right: 0px;" class="fas fa-3x fa-envelope-open-text"></i>
                    tawanda@tawandaenergy.co.zw
                </p>
            </div>

            <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
            <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_9yi1cm7i.json" background="transparent"
                speed="1" style="width: 290px; height: 300px;" loop autoplay></lottie-player>
        </div>
    </div>
</section>

<!-- Contact Us Section -->

<section class="py-2">
  <div class="container">
    <div class="row justify-space-between text-center py-2">
      <h2 class="display-5 fw-bold text-center my-5">Let's get social</h2>
      <div class="col-12 mx-auto">
        <a href="https://www.facebook.com/Tawanda-Energy-579749792106560" type="button" class="btn-icon btn btn-facebook me-3">
          <span class="btn-inner--icon mr-1"><em style="color: #4267B2;" class="fab fa-facebook fa-2x"></em></span>
          <span class="btn-inner--text"></span>
        </a>
        <a href="https://twitter.com/TawandaEnergy?t=avlMj_LyZRIMTJKTSuj_Zw&s=08" type="button" class="btn-icon btn btn-twitter me-3">
          <span class="btn-inner--icon mr-1"><em style="color: #1DA1F2;" class="fab fa-twitter fa-2x"></em></span>
          <span class="btn-inner--text"></span>
        </a>
        <a href="https://www.instagram.com/tawanda_energy/?utm_medium=copy_link" type="button" class="btn-instagram btn-icon btn me-3">
          <span class="btn-inner--icon mr-1"><em  class="fab fa-instagram fa-2x"></em></span>
          <span class="btn-inner--text"></span>
        </a>
        
        
      </div>
      <div class="row ">
        <div class="col-md-12">
          <hr class="hr-line1" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Contact Us Section -->

