@import url("https://fonts.googleapis.com/css?family=Rubik:500,700|Roboto:400,600");
.section-padding {
  padding: 45px 0;
}
.section-dark {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
  color: black;
  z-index: -2;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');


h1,
h2,
h3 {
  color: #32991f;
  font-family: 'Open Sans', sans-serif;
}

h4,
h5,
h6 {
  color: crimson;
  font-family: 'Open Sans', sans-serif;
}
i {
  color: #c9c921;
}
a{
  font-family: 'Open Sans', sans-serif;
}


.fab.fa-instagram {
  color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
}