<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet" />

<!-- -------- START HEADER 1 w/ text and image on right ------- -->
<section class="">
  <div class="container py-5">
    <div class="row align-items-center">
      <div class="col-md-6 mb-md-0 my-4">
        <h1 class="display-5 fw-bold">Tawanda Energy</h1>
        <h3 style="color: crimson;">About Us</h3>
        <p class=" my-4">
          A society based on a green economy is Tawanda Energy’s dream. Fully aware of the need to
          adapt to the threat of climate change, we want to make a positive difference by making every
          individual, homeowner, or community to use renewable energy and fight energy poverty. We
          want to believe that every time we act, we take a small step towards greater change.
        </p>
        <p class=" my-4">
          Moreover Tawanda Energy aims to make renewable energy available to all and give people
          the means to achieve their goals. A committed engineering team works very hard every day
          to convert waste into electricity and petrochemicals and renewable natural gas. Through our
          range of products and services, Tawanda Energy wants to make renewable energy products
          accessible and shows that yes it can be done
        </p>
        <p class=" my-4">
          Lastly we believe in the sharing and transfer of knowledge. We think empowering our
          customers, especially regarding affordable access to RNG (Renewable Natural Gas) and diesel is paramount. Sharing
          our know how, educating our customers is in the end, what will really take us into a green
          economy and take renewable energy to a whole new level.

        </p>

      </div>
      <div class="col-md-6">
        <div class="blur-shadow-image text-center">
          <img src="https://res.cloudinary.com/sputnik-tech/image/upload/v1639135302/1639134745907_brrc8u.png"
            alt="img-blur-shadow" class="img-fluid shadow border-radius-lg max-height-900">
        </div>
      </div>

    </div>
  </div>
  <div class="relative" style="height: 36px;overflow: hidden;margin-top: -36px; z-index:2">
    <div class="w-full absolute bottom-0 start-0 end-0" style="transform: scale(2);transform-origin: top center;color: crimson;">
      <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
      </svg>
    </div>
  </div>
</section>
<!-- -------- END HEADER 1 w/ text and image on right ------- -->
<section style="background-color: #8eb533;"  class="py-5">
  <div class="container">
    <div class="row">
      <div  class="col-lg-12">
        <div class="row">
          <div class="col-lg-6 justify-content-center d-flex flex-column">
            <div class="card rounded-3">
              <div class="d-block blur-shadow-image">
                <img
                  src="https://res.cloudinary.com/sputnik-tech/image/upload/v1639170835/kisspng-efficient-energy-use-energy-conservation-environme-energy-saving-and-environmental-protection-5aa0ecd7d5b1c0.6264264815204958318753-min_wfaiyg.png"
                  alt="img-blur-shadow-blog-2" class="img-fluid shadow border-radius-lg max-height-900  rounded-3">
              </div>
            </div>
          </div>
          <div class="col-lg-6 justify-content-center d-flex flex-column ps-lg-5 pt-lg-0 pt-3">

            <h3>
              <h2 style="color: white;" class="display-5 fw-bold">Circular Economy</h2>
            </h3>
            <p style="color: white;" class=" my-4">
              In everything we do, we believe environment and waste management needs innovation. Our
              goal is to challenge the current “take and dispose” economy model. We believe in a circular
              economy were resources flow from one industry to another, creating long lasting material and
              energy loops.

            </p>
            <p style="color: white;" class=" my-4">
              Our products are made for consumers who think this way and want to show it to the world.

            </p>
            <p style="color: white;" class=" my-4">
              We do it by designing new innovative products and services that keeps materials in use,
              prevent pollution and produce energy. We develop new renewable energy generation
              processes that make the waste become a resource again. Because the way nature work is
              simple and circular. There is no waste only products.

            </p>

          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<section style="background-color: #009942;" class="py-5">
  <div class="container">
    <div class="row">
      
      <div class="col-lg-12 mt-5">
        <div class="row flex-row-reverse">
          <div class="col-lg-6 justify-content-center d-flex flex-column">
            <div class="card rounded-3">
              <div class="blur-shadow-image">
                <img
                  src="https://res.cloudinary.com/sputnik-tech/image/upload/v1639243881/kisspng-renewable-energy-alternative-energy-energy-conserv-5af6225a6c5a64.1236261115260800904438-min_gxkwfu.png"
                  alt="img-blur-shadow-blog-2" class="img-fluid shadow border-radius-lg rounded-3">
              </div>
            </div>
          </div>
          <div class="col-lg-6 pe-lg-5 justify-content-center d-flex flex-column pt-lg-0 pt-3">

            <h2 style="color: white;" class="display-5 fw-bold">
              Our Vision
            </h2>
            <p style="color: white;">
              Our vision is to be a driving force for social, environmental, and economic benefits by
              producing gaseous and liquid climate-neutral energy carriers and are a project that aims to
              accelerate the development and introduction of climate neutral fuels into the Zimbabwean
              transport, construction, farming, and energy sector.
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section style="background-color: #8eb533;"  class="py-5">
  <div class="container">
    <div class="row">  
      <div class="col-lg-12 my-5">
        <div class="row">
          <div class="col-lg-6 justify-content-center d-flex flex-column">
            <div class="card rounded-3">
              <div class="d-block blur-shadow-image">
                <img
                  src="https://res.cloudinary.com/sputnik-tech/image/upload/v1639170572/5a2211b5835f20.6019884715121821975381-min_frcpch.png"
                  alt="img-blur-shadow-blog-2" class="img-fluid shadow border-radius-lg rounded-3">
              </div>
            </div>
          </div>
          <div class="col-lg-6 justify-content-center d-flex flex-column ps-lg-5 pt-lg-0 pt-3">

            <h3>
              <h2 style="color: white;" class="display-5 fw-bold">Our Mission</h2>
            </h3>
            <p style="color: white;" class=" my-4">
              Our mission is to mitigate the negative impact of humans on the environment by introducing
              innovative and sustainable products and services to the market. Providing an end to end solution in the
              fields of waste water management, solid waste management, energy
              conservation and renewable energy production through continuous innovation. We strive to
              deliver the highest quality products at the right price.
            </p>


          </div>
        </div>
      </div>
      
      
    </div>
  </div>
</section>


<section style="background-color: #009942;" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mt-5">
        <div class="row flex-row-reverse">
          <div class="col-lg-6 justify-content-center d-flex flex-column">
            <div class="card rounded-3">
              <div class="blur-shadow-image">
                <img
                  src="https://res.cloudinary.com/sputnik-tech/image/upload/v1639170572/5a2211bd8abe11.1848460515121822055683-min_qyzxsw.png"
                  alt="img-blur-shadow-blog-2" class="img-fluid shadow rounded-3">
              </div>
            </div>
          </div>
          <div class="col-lg-6 pe-lg-5 justify-content-center d-flex flex-column pt-lg-0 pt-3">

            <h2 style="color: white;" class="display-5 fw-bold">Our Values</h2>
            <p style="color: white;" class=" my-4">
              Tawanda’s values serve as the guiding light of our actions. They describe how we carry
              ourselves in the course of interacting with our customers and other stakeholders as we set
              about executing our business strategy in our business environment: Transparency, Honesty,
              Integrity and Accountability.
            </p>
            

          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>
<section style="background-color: #8eb533;"  class="py-5">
  <div class="container">
    <div class="row">  
      <div class="col-lg-12 my-5">
        <div class="row">
          <div class="col-lg-6 justify-content-center d-flex flex-column">
            <div class="card rounded-3">
              <div class="d-block blur-shadow-image">
                <img
                  src="https://res.cloudinary.com/sputnik-tech/image/upload/v1639748812/kisspng-biofuel-biodiesel-clip-art-gasoline-5b62d3c7501e63.6175970715332033993282_wixyxx.png"
                  alt="img-blur-shadow-blog-2" class="img-fluid shadow border-radius-lg rounded-3">
              </div>
            </div>
          </div>
          <div class="col-lg-6 justify-content-center d-flex flex-column ps-lg-5 pt-lg-0 pt-3">

            <h3>
              <h2 style="color: white;" class="display-5 fw-bold">The Team</h2>
            </h3>
            <p style="color: white;" class=" my-4">
              With dedicated energy and business professionals with years of experience and a strong
              commitment to customer satisfaction and service, Tawanda Energy offers customers and
              communities projects that will create real and sustained economic and operating benefits to
              fulfil unique requirements.
            </p>


          </div>
        </div>
      </div>
      
      
    </div>
  </div>
</section>

<section style="background-color: #009942;" class="py-5">
  <div class="container">
    <div class="row">  
      <div class="col-lg-12 my-5">
        <div class="row">
          <div class="col-lg-6 justify-content-center d-flex flex-column">
            <div class="card rounded-3">
              <div class="d-block blur-shadow-image">
                <img
                  src="https://res.cloudinary.com/sputnik-tech/image/upload/v1639170570/kisspng-energy-conservation-renewable-energy-environmental-energy-and-environmental-protection-5a8793c025fd12.8372570715188346241556-min_ezdxme.png"
                  alt="img-blur-shadow-blog-2" class="img-fluid shadow rounded-3">
              </div>
            </div>
          </div>
          <div class="col-lg-6 justify-content-center d-flex flex-column ps-lg-5 pt-lg-0 pt-3">

            <h3>
              <h2 style="color: white;" class="display-5 fw-bold">Lets get connected</h2>
            </h3>
            <a href="https://www.facebook.com/Tawanda-Energy-579749792106560" type="button"
              class="btn-icon btn btn-twitter me-3 my-2"><em style="color: #4267B2;"
                class="fab fa-5x fa-facebook"></em></a>
            <a href="https://twitter.com/TawandaEnergy?t=avlMj_LyZRIMTJKTSuj_Zw&s=08" type="button"
              class="btn-icon btn btn-twitter me-3 my-2"><em style="color: #1DA1F2;"
                class="fab fa-5x fa-twitter"></em></a>
            <a href="https://www.instagram.com/tawanda_energy/?utm_medium=copy_link" type="button"
              class="btn-icon btn btn-twitter me-3 my-2"><em class="fab fa-5x fa-instagram"></em></a>


          </div>
        </div>
      </div>
    </div>
  </div>
</section>