
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css">

<section id="main">
    <div class="wrapper">
  <header class="site-header">
    <h1 class="site-header__logo">Project Details</h1>
  </header>
</div>
<div class="container">
        <div class="horizontal-center vertical-center">
            <h1 class="article-title">{{ data.article.title }}</h1>
            
        </div>
    </div>
  <div class="grid">
    <div class="grid__item-half">
      <img src="{{ data.article.image.url }}" alt="" />
    </div>

    <div class="grid__item-half">
      <img src="{{ data.article.image1.url }}" alt="" />
    </div>

    <div class="grid__item-half">
      <img src="{{ data.article.image2.url }}" alt="" />
    </div>

    <div class="grid__item-half">
      <img src="{{ data.article.image3.url }}" alt="" />
    </div>
    <div class="grid__item-half">
      <img src="{{ data.article.image4.url }}" alt="" />
    </div>
    <div class="grid__item-half">
      <img src="{{ data.article.image5.url }}" alt="" />
    </div>
    


  </div>


</section>

<section class="uiblur">

<div class="container foreground">
    <div class="row">
        <div class="col-sm-12 mx-auto">
            <div class="bs-component">
                <article>

                    

                    <p style="text-align:left;">
                        <markdown ngPreserveWhitespaces>
                            {{ data.article.content }}
                        </markdown>
                    </p>
                    <div style="margin-bottom: 10px;" class="horizontal-center">
                    
                        <a style="
                        margin-bottom: 5px;
                        cursor: pointer;
                        color:white;
                        background: #480470;
                        padding: 5px;
                        border-radius: 30px;
                        " 
                        routerLink="/projects"
                        >
                            See more projects
                        </a>
                        
                    </div>

                    <div class="horizontal-center">
                      <a style="
                                            margin-bottom: 5px;
                                            margin-right: 5px;
                                            cursor: pointer;
                                            color:white;
                                            background: #480470;
                                            padding: 5px;
                                            border-radius: 20px;
                                            " href="{{ data.article.source }}">Github Link</a>

                      <a style="
                                                                  margin-bottom: 5px;
                                                                  cursor: pointer;
                                                                  color:white;
                                                                  background: #480470;
                                                                  padding: 5px;
                                                                  border-radius: 20px;
                                                                  " href="{{ data.article.link }}">Live project</a>
                    </div>
                    <div class="horizontal-center">
                      
                    </div>

                    
                </article>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</section>