<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet" />

<!-- -------- START HEADER 3 w/ image on background ------- -->
<header>
   
    <div class="page-header " style="background-image: url(../../assets/img/curved-images/curved14.jpg);">
      <span class="mask bg-gradient-dark opacity-4"></span>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 col-sm-9 text-center mx-auto">
            <h1 class="display-5 fw-bold my-5" >Tawanda Energy</h1>
            <p class="lead  my-sm-12 my-4">Tawanda Energy is a developer, owner and operator of waste to energy renewable power
                assets in Zimbabwe and is positioned to become a key player in the energy transition sector in
                Africa. We are a proudly a local company committed to meaningful socio-economic
                development in the communities where we operate. Tawanda Energy invests in the most
                promising electricity generation and petrochemicals projects to ensure sustainable long-term
                investment returns.</p>
            
  
            
          </div>
        </div>
      </div>
    </div>
    <div class="relative" style="height: 36px;overflow: hidden;margin-top: -36px; z-index:2">
      <div class="w-full absolute bottom-0 start-0 end-0" style="transform: scale(2);transform-origin: top center;color: #dd3131;">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
        </svg>
      </div>
    </div>
  </header>
  <!-- -------- END HEADER 3 w/ image on background ------- -->
<!-- Section with four info areas left & one card right with image and waves -->
<section style="background-color: #8eb533;" class="py-6">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="row justify-content-start">
            <div class="col-md-6">
              <div class="info">
                <div class="icon icon-md">
                  <i class="fas fa-2x fa-check-double my-3"></i>
              </div>
                
                <p style="color: white;">Socio-Economic Development</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info">
                <div class="icon icon-md">
                  <i class="fas fa-2x fa-check-double"></i>
                </div>
                
                <p style="color: white;">Our mission is to ensure economic benefits for all our stakeholders and to help build an
                  environment for sustainable job creation and socio-economic development.</p>
              </div>
            </div>
          </div>
          <div class="row justify-content-start">
            <div class="col-md-6">
              <div class="info">
                <div class="icon icon-md">
                  <i class="fas fa-2x fa-check-double"></i>
                </div>
                
                <p style="color: white;">Through strategic investments in the energy ecosystem, we aim to deliver superior returns for
                  all our stakeholders and support sustainable development.
                  Beyond our direct activities, we create and sustain jobs, and help improve the quality of life
                  for the host communities where we operate.</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info">
                <div class="icon icon-md">
                  <i class="fas fa-2x fa-check-double"></i>
                </div>
                
                <p style="color: white;">Tawanda Energy welcomes enquiries from institutions, fund managers, private investors and
                  other stakeholders who are looking for long-term investment in a renewable energy company
                  with guaranteed returns.
                  </p>
                  
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 my-5 ms-auto">
          <div class="card">
            <img class="card-img-top " src="https://res.cloudinary.com/sputnik-tech/image/upload/v1639170572/5a2211b5835f20.6019884715121821975381-min_frcpch.png">
            <div class="position-relative overflow-hidden" style="height:50px;margin-top:-50px;">
              <div class="position-absolute w-100 top-0 z-index-1">
                  <svg class="waves waves-sm" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
                    <defs>
                      <path id="card-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
                    </defs>
                    <g class="moving-waves">
                      <use xlink:href="#card-wave" x="48" y="-1" fill="rgba(255,255,255,0.30"></use>
                      <use xlink:href="#card-wave" x="48" y="3" fill="rgba(255,255,255,0.35)"></use>
                      <use xlink:href="#card-wave" x="48" y="5" fill="rgba(255,255,255,0.25)"></use>
                      <use xlink:href="#card-wave" x="48" y="8" fill="rgba(255,255,255,0.20)"></use>
                      <use xlink:href="#card-wave" x="48" y="13" fill="rgba(255,255,255,0.15)"></use>
                      <use xlink:href="#card-wave" x="48" y="16" fill="rgba(255,255,255,0.99)"></use>
                    </g>
                  </svg>
                </div>
            </div>
            <div class="card-body">
              <h4>
                <i class="fas fa-2x fa-envelope"></i>
              </h4>
              <p >
                Contact us to find out more about our exciting investment opportunities
              </p>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END Section with four info areas left & one card right with image and waves -->
    <!-- -------- START MAIN CONTENT ------- -->
