
<!--About us section-->
<div class="about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="about-us-title">
                    <h2>Tawanda Energy</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="about-us-content">
                    <p> developer, owner and operator of waste to energy renewable power assets in Zimbabwe and is
                        positioned to become a key player in the energy transition sector in Africa, by providing
                        services directly to the general public or as a wholesaler to public operators. The company was
                        established in 2017 to focus on delivering solutions to address energy poverty, renewable and
                        sustainable energy, climate change mitigation and adaption and the introduction of climate
                        neutral energy carriers. </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of about us section-->