@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');


h1,
h2,
h3 {
  color: #32991f;
  font-family: 'Open Sans', sans-serif;
}

h4,
h5,
h6 {
  color: crimson;
  font-family: 'Open Sans', sans-serif;
}
i {
  color: #c9c921;
}
a{
  font-family: 'Open Sans', sans-serif;
}
