


<!-- START Section Content W/ 2 images aside of icon title description -->
<section class="py-7">
    <div class="container ">
        <div class="row">
            <div class="col-lg-6 col-md-8 order-2 order-md-2 order-lg-1">
                <div
                    class="position-relative ms-md-5 mb-0 mb-md-7 mb-lg-0 d-none d-md-block d-lg-block d-xl-block h-75">
                    <div class="bg-gradient-info w-100 h-100 border-radius-xl position-absolute" alt=""></div>
                    <img src="https://res.cloudinary.com/sputnik-tech/image/upload/v1639156332/khumba-energy-360-sustainable-solutions_b8ouha.png"
                        class="w-100 border-radius-xl mt-6 ms-5 position-absolute" alt="">
                </div>
            </div>
            <div class="col-lg-5 col-md-12 ms-auto order-1 order-md-1 order-lg-1">
                <div class="p-3 pt-0">
                    <div class="icon icon-shape bg-gradient-info rounded-circle shadow text-center mb-4">
                        <i class="ni ni-building"></i>
                    </div>
                    <h2 class="display-2 fw-bold">Tawanda Energy</h2>
                    
                    <p>is a developer, owner and operator of waste to energy renewable power assets in Zimbabwe and is
                        positioned to become a key player in the energy transition sector in Africa, by providing
                        services directly to the general public or as a wholesaler to public operators. <br><br> The company was
                        established in 2017 to focus on delivering solutions to address energy poverty, renewable and
                        sustainable energy, climate change mitigation and adaption and the introduction of climate
                        neutral energy carriers.</p>
                    
                </div>
            </div>
        </div>

    </div>
</section>
<!-- END Section Content -->