<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

<!---->

<header>
  <nav style="
background: rgb(255, 255, 255);
backdrop-filter: blur( 3px );
-webkit-backdrop-filter: blur( 10px );
border-radius: 5px;

    " class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light  border-bottom box-shadow mb-0"
    (scroll)="onscroll()" [ngClass]="navbarfixed?'fixed':'nofixed'">
    <div class="container">
      <img width="150" height="80" alt="logo" [routerLink]="['/']" class="logo"
        src="https://res.cloudinary.com/dyzeuqi75/image/upload/v1639741673/Screenshot_2021-12-17_134517_oxikqb.png" />

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
        aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <lottie-player src="https://assets1.lottiefiles.com/temp/lf20_Qi3v7b.json" background="transparent" speed="1"
          style="width: 40px; height: 40px;" loop autoplay></lottie-player>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end" [ngClass]="{ show: isExpanded }">
        <ul *ngIf="data" class="navbar-nav flex-grow">
          <li  [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
            <a style="font-size: 20px; font-weight:600; text-decoration: none; " class="hover_effect me-3" 
              [routerLink]="['/']">Home</a>
          </li>
          <li  [routerLinkActive]="['link-active']">
            <a class="hover_effect me-3" style="font-size: 20px; font-weight:600; text-decoration: none; "
               [routerLink]="['/services']">Services</a>

          </li>
          <li [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
            <a class="hover_effect me-3" style="font-size: 20px; font-weight:600; text-decoration: none; " 
              [routerLink]="['about-us']">About Us</a>
          </li>
          <li  [routerLinkActive]="['link-active']">
            <a class="hover_effect me-3" style="font-size: 20px; font-weight:600; text-decoration: none; "
               [routerLink]="['/contact-us']">Contact Us</a>

          </li>
          <li  [routerLinkActive]="['link-active']">
            <a class="hover_effect me-3" style="font-size: 20px; font-weight:600; text-decoration: none; "
               [routerLink]="['/renewable-energy-investment']">Renewable Energy Investment</a>

          </li>

          

        </ul>
      </div>
    </div>
  </nav>
</header>


