<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet" />




<!--
<section >


<header class="header-rounded-images">
  
  <div class="page-header min-vh-100">
    <div class="container">
      <div class="row">
        <ngb-carousel class="col-md-12"   *ngIf="images" [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">
          <ng-template ngbSlide *ngFor="let image of images; index as i; index as j">
            
            <div class="col-lg-6 text-lg-start text-center py-sm-0 py-7">
              
              <h1 class="text-white">{{ titles[i] }}</h1>
              <p class="text-white text-lg-start text-center pe-5 mt-4">{{ discription[j] }}</p>
              <br />
              <div class="buttons">
                <button type="button" class="btn btn-lg bg-gradient-primary btn-rounded">Contact Us</button>
                <button type="button" class="btn btn-lg btn-outline-white btn-rounded ms-xl-3">Read More</button>
              </div>
              <div class="row mt-5 justify-content-start">
                <div class="col-md-3 col-6 p-0">
                  <img class="w-50"
                    [src]="image" alt="Random slide"
                    alt="logo">
                </div>
                <div class="col-md-3 col-6 p-0">
                  <img class="w-50"
                    [src]="image" alt="Random slide"
                    alt="logo">
                </div>
                <div class="col-md-3 col-6 p-0">
                  <img class="w-50"
                    [src]="image" alt="Random slide"
                    alt="logo">
                </div>
                <div class="col-md-3 col-6 p-0">
                  <img class="w-50"
                    [src]="image" alt="Random slide"
                    alt="logo">
                </div>
              </div>
            </div>
            <div class="col-lg-6 text-end position-relative">
              <img class="w-100"
              [src]="image" alt="Random slide" alt="logo">
            </div>
          </ng-template>
        </ngb-carousel>
        
      </div>
    </div>



    <div
      class="min-vh-75 w-50 blur-section blur-gradient-primary position-absolute border-top-start-radius-0 border-top-end-radius-0 border-bottom-end-radius-0 border-radius-section mt-n8 me-n4 top-0 end-0 d-lg-block d-none">
    </div>

  </div>

</header>

  
</section>
  -->




<section>
  
  <div id="colorlib-about">
    <div class="container">

      <div class="row">

        <div class="col-md-6 animate-box">
          <div class="owl-carousel3">
            <div class="item">

              <ngb-carousel *ngIf="foto" [showNavigationArrows]="showNavigationArrows"
                [showNavigationIndicators]="showNavigationIndicators">
                <ng-template ngbSlide *ngFor="let image of foto; index as i; index as j">
                  <div class="picsum-img-wrapper">
                    <img [src]="image" alt="Random slide" class="pic" />
                  </div>

                  <div class="carousel-caption">
                    <!--  <h1>{{ zaglavanie[i] }}</h1> -->

                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                      <!-- <a href="https://drive.google.com/file/d/1MtKWouA6bAdb3basRonDenmOYkPqV8PW/view?usp=sharing"
                        style="
                            color: #ffffff;
                            background-color: #480470;
                            border-radius: 30px;
                            border: none;
                            margin: 10px 10px;
                            padding: 10px 10px;
                            text-align: center;
                          " class="btn btn-secondary active">
                        <i class="fas fa-download"></i> my Resume
                      </a> -->
                    </div>
                  </div>
                </ng-template>
              </ngb-carousel>
            </div>

          </div>
        </div>

        <div class="col-md-6 col-md-push-1 animate-box">
          <div class="about-desc">
            <div class="owl-carousel3">
              <div class="item">
                <h2><span class="display-5 fw-bold" style="color:crimson;  font-family: 'Open Sans', sans-serif;">Tawanda
                  </span><span class="display-5 fw-bold" style="color:#32991f;  font-family: 'Open Sans', sans-serif;">Energy</span>
                </h2>
              </div>
              <div class="item">
                <h3><span style="color:crimson;  font-family: 'Open Sans', sans-serif;">Fuelling </span><span style="color:#32991f;  font-family: 'Open Sans', sans-serif;">a cleaner
                    future</span></h3>
              </div>
              <div class="item my-4">
                <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_3t09De.json" background="transparent"
                  speed="1" style="width: 250px; height: 250px;" loop autoplay></lottie-player>
              </div>
              <div class="item">
                <h1>Who we are</h1>
              </div>
            </div>
            <div class="col-lg-12 d-flex justify-content-center flex-column">
              <div id="carouselExampleIndicator" class="carousel slide py-7" data-bs-ride="carousel">
                
                <div class="carousel-inner">
                  
                  <hr class="text-white horizontal opacity-6 my-4 mt-2 w-25 text-start">
                  <div class="carousel-item active">
                    <p class=" opacity-8 pe-5">Tawanda Energy (pvt) Limited is a diversified group operating in the energy, biofuels,
                      petrochemicals, and related industries in the form of community scale bio-refineries to
                      produce petrol, renewable natural gas (biogas), electricity and green coal all from waste.</p>
                    
                  </div>
                  <div class="carousel-item">
                    <p class=" opacity-8 pe-5">Tawanda Energy (pvt) Limited is a diversified group operating in the energy, biofuels,
                      petrochemicals, and related industries in the form of community scale bio-refineries to
                      produce petrol, renewable natural gas (biogas), electricity and green coal all from waste.</p>
                    
                  </div>
                  <div class="carousel-item">
                    <p class=" opacity-8 pe-5">Tawanda Energy (pvt) Limited is a diversified group operating in the energy, biofuels,
                      petrochemicals, and related industries in the form of community scale bio-refineries to
                      produce petrol, renewable natural gas (biogas), electricity and green coal all from waste.</p>
                    
                  </div>
                  
                </div>
              </div>
            </div>
            <div class="desc">
              <p><a href="/services" class="btn btn-success active">Services</a></p>
            </div>
            
          </div>
        </div>
      </div>

      
      <div class="row">
        <div class="col-md-12">
          <hr class="hr-line1" />
        </div>
      </div>
    </div>

  </div>
  <div class="relative" style="height: 36px;overflow: hidden;margin-top: -36px; z-index:2">
    <div class="w-full absolute bottom-0 start-0 end-0" style="transform: scale(2);transform-origin: top center;color: crimson;">
      <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
      </svg>
    </div>
  </div>
</section>






<section style="background-color: #8eb533;" data-scroll-index="0">
  <div class="container">
    <div class="row">
      <div class="col-md-12 my-5">
        <div class="welcome-content text-center">

          <h2 style="color: white;" class="display-5 fw-bold">Fuelling a cleaner future</h2>

          <p style="color: white;">
            Tawanda Energy will create a decentralized, nutrient and energy hubs by converting end of
            life waste into energy and will empower local communities to leverage their waste to power
            positive change. Using smart business models, we do this in a way that is financially
            attractive today and is a small-scale, high impact approach that is revolutionizing the way we
            deal with waste in Zimbabwe.
          </p>
          <p style="color: white;">
            Inspired by the values of the circular economy, we leverage the value of residual waste as an
            instrument of positive change by transforming it into new products; green energy, natural
            fertilizer and clean water. We do all of this on-site, at the two waste water treatment plants in
            Sakubva and Yeovil on a 25 year lease with the city of Mutare. Additionally, we will also
            work with agents who will go around the city collecting plastic waste to give a holistic
            approach to waste management in the city.
          </p>
          <p style="color: white;">
            Tawanda Energy is entering a niche market; Municipal solid waste, sewage sludge,
            agricultural waste has not been recycled on any sizeable scale in Mutare or in Zimbabwe.
            This is a unique and viable concept that addresses the needs of various customers,
            stakeholders and reaches an untapped market with tremendous growth potential.
          </p>
        </div>
        <div class="row">
          <div class="col-md-12">
            <hr class="hr-line1" />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="welcome-content text-center">
          <h2 style="color: white;" class="display-5 fw-bold">Industries we service</h2>

          <!--Circle Cards-->
          <div class="row">
            <div class="col-md-4 my-3">
              <div class="card">
                <div class="card-body">
                  <h5 style="color: white;" class="card-title">Corporates</h5>
                  <i style="color: #009942;" class="fas fa-3x fa-city"></i>
                </div>
              </div>
            </div>
            <div class="col-md-4 my-3">
              <div class="card">
                <div class="card-body">
                  <h5 style="color: white;" class="card-title">Farms</h5>
                  <i style="color: #009942;" class="fas fa-3x fa-tractor"></i>

                </div>
              </div>
            </div>
            <div class="col-md-4 my-3">
              <div class="card">
                <div class="card-body">
                  <h5 style="color: white;" class="card-title">Government Department </h5>
                  <i style="color: #009942;" class="fas fa-3x fa-flag"></i>
                </div>
              </div>
            </div>
            <div class="col-md-6 my-3">
              <div class="card">
                <div class="card-body">
                  <h5 style="color: white;" class="card-title">Municipalities</h5>
                  <i style="color: #009942;" class="fas fa-3x fa-university"></i>
                </div>
              </div>
            </div>
            <div class="col-md-6 my-3">
              <div class="card">
                <div class="card-body">
                  <h5 style="color: white;" class="card-title">Private Clients</h5>
                  <i style="color: #009942;" class="fas fa-3x fa-users"></i>
                </div>
              </div>
            </div>


          </div>
          <!--Circle Cards-->



        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr class="hr-line1" />
      </div>
    </div>
  </div>
</section>

<!-- START Section Content W/ 2 images aside of icon title description -->
<section style="background-color: #009942;" class="py-1">
  <div class="container my-5">
    <div class="row my-5">
      <div class="col-lg-5 col-md-12 order-2 order-md-2 order-lg-1">
        <div class="position-relative ms-md-5 mb-0 mb-md-7 mb-lg-0 d-none d-md-block d-lg-block d-xl-block h-75">
          <div class="bg-gradient-info w-100 h-100 border-radius-xl position-absolute" alt=""></div>
          <img src="https://res.cloudinary.com/sputnik-tech/image/upload/v1639243881/kisspng-solar-power-solar-panel-solar-energy-renewable-ene-energy-saving-solar-panels-5a83ae4dc4a9c6.8789361415185792778055-min_yr81v9.png" class="w-100 border-radius- mt-6 ms-5 position-absolute" alt="">
        </div>
      </div>
      <div class="col-lg-5 col-md-12 ms-auto order-1 order-md-1 order-lg-1">
        <div class="p-3 pt-0">
            <div class="icon icon-shape bg-gradient-info  shadow text-center mb-4">
              <i class="fas fa-asterisk"></i>
            </div>
            <h2 style="color: white;" class="display-5 fw-bold">Our Vision & Mission</h2>
            
            <p style="color: white;">Is to be driving force for social, environmental, and economic
              benefits by producing gaseous and liquid climate-neutral energy carriers and are a project that
              aims to accelerate the development and introduction of climate neutral fuels into the
              Zimbabwean transport, construction, farming, and energy sector.</p>
            
          </div>
      </div>
      
    </div>
    <div class="row ">
      <div class="col-md-12">
        <hr class="hr-line1" />
      </div>
    </div>
    <div class="row   mt-md-5 mt-lg-8">
      <div class="col-lg-5 col-md-12 me-auto">
        <div class="p-3 pt-0">
            <div class="icon icon-shape bg-gradient-warning  shadow text-center">
              <i class="fas fa-asterisk"></i>
            </div>
            <h2 style="color: white;" class="display-5 fw-bold">Areas we service</h2>
           
            <p style="color: white;">Tawanda’s headquarters are located in the City of Mutare; where from the past 5 years of its
              existence has been converting two waste water treatment plants into biorefineries. The
              concept of a bio-refinery is the sustainable processing of biomass into a spectrum of
              marketable products and energy. It is an economy based on innovative and cost efficient use
              of waste for the production of both bio-based products and bio-energy. A bio-refinery is
              analogous to the modern day oil refinery where multiple products are produced from crude
              oil. All our activities are complimented, enabled and strengthened by smart partnerships with
              like-minded enterprises throughout the country.</p>
            
          </div>
      </div>
      <div class="col-lg-6 my-5 col-md-8">
        <div class="position-relative ms-md-5 d-none d-md-block d-lg-block d-xl-block h-75">
          <div class="w-100 h-100 bg-gradient-warning border-radius-xl position-absolute" alt=""></div>
          <img src="https://res.cloudinary.com/sputnik-tech/image/upload/v1639243881/kisspng-renewable-energy-photovoltaics-solar-energy-solar-new-energy-material-download-5a7bb12e8b2872.05369446151805572657-min_wb1ncx.png" class="w-100 border-radius-xl mt-6 ms-n5 position-absolute" alt="">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr class="hr-line1" />
      </div>
    </div>
  </div>
</section>
<!-- END Section Content -->



<section style="background-color: #8eb533;" class="py-2">
  <div class="container">
    <div class="row justify-space-between text-center py-2">
      <h2 style="color: white;" class="display-5 fw-bold text-center  my-5">Let's get social</h2>
      <div class="col-12 mx-auto">
        <a href="https://www.facebook.com/Tawanda-Energy-579749792106560" type="button" class="btn-icon btn btn-facebook me-3">
          <span class="btn-inner--icon mr-1"><em style="color: #4267B2;" class="fab fa-facebook fa-2x"></em></span>
          <span class="btn-inner--text"></span>
        </a>
        <a href="https://twitter.com/TawandaEnergy?t=avlMj_LyZRIMTJKTSuj_Zw&s=08" type="button" class="btn-icon btn btn-twitter me-3">
          <span class="btn-inner--icon mr-1"><em style="color: #1DA1F2;" class="fab fa-twitter fa-2x"></em></span>
          <span class="btn-inner--text"></span>
        </a>
        <a href="https://www.instagram.com/tawanda_energy/?utm_medium=copy_link" type="button" class="btn-instagram btn-icon btn me-3">
          <span class="btn-inner--icon mr-1"><em  class="fab fa-instagram fa-2x"></em></span>
          <span class="btn-inner--text"></span>
        </a>
        
        
      </div>
      <div class="row ">
        <div class="col-md-12">
          <hr class="hr-line1" />
        </div>
      </div>
    </div>
  </div>
</section>

<!-- -------- START FOOTER ------- -->
<section style="background-color: #009942;" data-scroll-index="0">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="welcome-content text-center">
          <h2 style="color: white;" class="display-5 fw-bold my-5">FAQ's</h2>

          <p style="text-align:center;">
            <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
            <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_zptgbuvm.json" background="transparent"
              speed="1" style="width: 150px; height: 150px;" loop autoplay></lottie-player>
          </p>
        </div>
      </div>
      <div class="col-md-12">
        <div class="welcome-content color text-center">
          <div class="faq-wrapper">

            <details>
              <summary class="disable-select">What materials do we use?</summary>
              <div>All of our products are made with PLA Plastic Filament. PLA Is the most commonly used 3d printing
                material. it is bio-degradable and strong enough to be used for a lot of applications including home
                products, spare parts etc.</div>
            </details>
            <details>
              <summary class="disable-select">How do I order?</summary>
              <div>You can order online here on our website, or contact us on our provided contact details.</div>
            </details>
            <details>
              <summary class="disable-select">How long will my order take to process?</summary>
              <div>3D printing is a slow process with some prints taking a few minutes to completre and some several
                days.
                How long an order takes depends entirely on how big the order is.</div>
            </details>
            <details>
              <summary class="disable-select">Can I buy in-store?</summary>
              <div>Unfortunately we are not a walk in store yet, but you can visit our factory/studio at the provided
                address below.</div>
            </details>
            <details>
              <summary class="disable-select">Can I order over the phone or email?</summary>
              <div>To place an order over the phone or email, contact our customer services team on 0658435277 or
                info@3dprintingstudio.co.za .</div>
            </details>
            <details>
              <summary class="disable-select">Does 3D Printing Studio offer Free delivery?</summary>
              <div>We offer free delivery across Johannesburg for all orders over R200.</div>
            </details>
            <details>
              <summary class="disable-select">Is it safe to shop online with you?</summary>
              <div>Yes. We guarantee that our website is secured and certified. Your payment is processed securely by
                Payfast, which is one
                of the leading payment gateways in South Africa.</div>
            </details>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr class="hr-line1" />
      </div>
    </div>
  </div>
</section>


